[submodule "external/eigen-3.2.2"]
	path = external/eigen-3.2.2
	url = https://github.com/williammc/Eigen.git
	branch = 3.2.2
[submodule "external/cmaker"]
	path = external/cmaker
	url = https://github.com/williammc/cmaker.git
	branch = 1.0
